<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispensary |**College name</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io (2)/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon_io (2)/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon_io (2)/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">
<style>
  /* Resetting default margins and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
margin: 0;
padding: 0;
}

/* Box sizing */
*, *:before, *:after {
box-sizing: border-box;
}

/* Body Styles */
body {
font-family: Arial, sans-serif;
background-color: #f3f3f3;
}

/* Header Styles */
.top {
          /* display: flex; */
          /* align-items: end; */
          justify-content: space-between;
          padding-top: 20px;
          background-color: #6ab0fb; /* Change the background color as needed */
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
      }

      .logo-text {
          margin-left: 20px;
      }

      .logo-text h3 {
          margin-left: 100px;
          font-size: 24px;
          color: #333; /* Change text color as needed */
      }

      .logo-text h5 {
        margin-left: 100px;
          font-size: 16px;
          color: #666; /* Change text color as needed */
      }

      /* Navigation bar styling */
      .main nav {
          display: flex;
          align-items: center;
          margin-top: 30px;
          /* justify-content: flex-end; */
      }

      .main nav li {
          list-style: none;
          margin-right: 20px;
      }

      .main nav li a {
          text-decoration: none;
          color: #333; /* Change text color as needed */
          transition: color 0.3s ease;
      }

      .main nav li a:hover {
          color: #666; /* Change text color on hover as needed */
      }


/* Fixed Side-block Styles */
.Fixed {
position: fixed;
top: 180px;
left: 0px;
background-color: #fff;
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
}

.Fixed h3 {
margin: 5px 0;
color: #e74c3c;
}

.services li, .RecognisedHospitals li {
margin-bottom: 5px;
}

/* Home Button Styles */
.home {
position: fixed;
top: 100px;
right: 20px;
background-color: #007bff;
padding: 10px 20px;
border-radius: 5px;
}

.home a {
color: #fff;
text-decoration: none;
}

.home a:hover {
text-decoration: underline;
}

/* Content Section Styles */
.content-section {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section h1 {
margin-top: 0;
}

/* Footer Styles */
footer {
background-color: #007bff;
color: #fff;
text-align: center;
padding: 20px 0;
position: fixed;
bottom: 0;
width: 100%;
}
/* Health Corner Styles */
#health-corner {
position: fixed;
top: 200px; /* Adjust the top value to shift it downwards */
right: 20px;
background-color: #fff;
padding: 10px;
border: 1px solid #ddd;
border-radius: 10px;
width: 250px;
}

#health-corner h4 {
margin: 5px 0;
color: #e74c3c;
}

#health-corner marquee {
height: 200px;
overflow-y: auto;
}

#health-corner marquee ul {
padding: 0;
margin: 0;
}

#health-corner marquee ul li {
list-style: none;
margin-bottom: 10px;
}

#health-corner marquee ul li a {
color: blue;
text-decoration: underline;
}

</style>
</head>

<body>

  <!-- Navigation Bar -->
    <div class="top" >
        <img class="logo-image" src="**College logo link**" alt="logo"> 
        <div class="logo-text" >
            <h3>  Dispensary</h3>
            <h5>Dr B R Ambedkar National Institute of Technology, Jalandhar</h5>
        </div>
        <div class="main">
          <nav>
              <li style="list-style: none;"><a href="**link of the home page of college**"  style="color: #f5f5f5; "> Home &nbsp;&nbsp;&nbsp; </a></li>
                      <li style="list-style: none;"><a href="#" class="modal-trigger" data-target="modal-account"><span style="border-left: 1px solid white; padding: 6px; color: #f5f5f5;">&nbsp;&nbsp;&nbsp;Contact us&nbsp;&nbsp;&nbsp;</span> </a></li>
                      <li class="log-doctor" style="list-style: none; " ><a href="/logout" id="logout1" ><span style="border-left: 1px solid white; padding: 6px; color: #f5f5f5;">&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;</span></a></li>
          </nav>
      </div>
      </div>


      <!-- Fixed Left Block -->
<div class="Fixed">
 <h3 style="margin: 5px; color: red; padding-left: 0px;">Services</h3>
  <ul>
    <div class="services">
     <li><a href="#" onclick="changeContent('content1')">Facilities</a></li>
     <li><a href="#" onclick="changeContent('content2')"> Medical Staff</a></li>
     <li><a href="#" onclick="changeContent('content3')">Timing</a></li>
     <li><a href="#" onclick="changeContent('content5')">Consultant</a></li>
     <li><a href="#" onclick="changeContent('content6')">Special Camps</a></li>
     <li><a href="#" onclick="changeContent('content7')">Add camps</a></li>
     <li><a href="#" onclick="changeContent('content8')" >Guidelines</a></li>
     <li class="log-doctor" ><a href="/view-appointments" id="myAnchor2" >View Appointments</a></li>
     <li class="log-doctor" ><a href="#" onclick="changeContent('content9')">Create Prescription</a></li>
     <li class="log-doctor" ><a href="#" onclick="changeContent('content13')" >Upload Reports</a></li>
     <li class="log-doctor" ><a href="#" onclick="changeContent('content15')" >Change availability</a></li>
     <li class="log-doctor" ><a href="#" onclick="changeContent('content16')" >Upload Guidelines</a></li>
    </div>    
  </ul>
  <br>
  <h3 style="margin: 5px; color: red; padding-left: 0px;">Recognised Hospitals</h3>
   <div class="RecognisedHospitals">
       <ul>
           <% hospitals.forEach(hospital => { %>
               <li>
                   <a href="<%= hospital.site %>" target="_blank"><%= hospital.name %></a> -
                   <%= hospital.location %>
               </li>
           <% }); %>
       </ul>
   </div>
</div>


<div class="home" style="margin-left: 420px; margin-top: 14px;">
    <a href="#" onclick="changeContent('initial-content')" >Home</a>
</div>
<br>

<!-- Guideline Scroll-box -->
<div style="float: right; margin-right: 100px; border: 1px solid #000; padding: 10px; width: 250px;" id="health-corner">
  <h4 style="text-decoration: underline; text-align: center;">Health corner</h4>
  <marquee direction="up" scrollamount="2" behavior="scroll" height="200">
      <% if (guidelines.length > 0) { %>
          <ul>
              <% guidelines.forEach(function(guideline) { %>
                  <li>
                      <a href="/guidelines/<%= guideline.filename %>" style="color: blue; text-decoration: underline;">
                          <%= guideline.filename %>
                      </a>
                  </li>
              <% }); %>
          </ul>
      <% } else { %>
          <p>No guidelines available.</p>
      <% } %>
  </marquee>
</div>


<!-- Dispensary information -->

<div class="Movable content-section" id="initial-content" style="text-align: justify;">
 
  The dispensary serves as the bustling hub of the institute, where health and well-being intertwine in a symphony of care and compassion. Offering a spectrum of services, it is the first port of call for those in need, providing treatments for various ailments and extending a comforting hand to the injured with prompt first aid. Beyond its immediate medical role, the dispensary assumes the mantle of educator, hosting diverse awareness campaigns such as cardiac and bone mineral density (BMD) screenings to empower the community with knowledge for disease prevention.
  <br> <br>In close collaboration with local health authorities, the dispensary orchestrates national health programs including Pulse Polio and immunization drives, ensuring widespread access to vital vaccinations and bolstering community immunity against preventable diseases. While its resources may not encompass a fully-equipped pathological laboratory, the dispensary nevertheless stands as a beacon of diagnostic support, offering essential investigations to aid in accurate diagnoses and treatment decisions.<br><br>
  Dispensary is also equipped with the Pathological lab to carry out different investigations.  In case of medical emergency, the ambulance van is available 24 hours for taking patient(s) to other hospitals for the required treatment. Within its walls, the dispensary embodies the institute's ethos of compassionate care, offering solace and support to those in need. It may not boast the extensive resources of larger medical facilities, but its impact is profound, nurturing a culture of health and well-being that resonates far beyond its physical confines. As a vital lifeline for the community, the dispensary continues to uphold its mission of service with unwavering dedication and integrity.

</div>


<!-- Facilities Details -->

<div class="Movable content-section" id="content1" style="text-align: justify;">
  <h1>Facilities</h1>
  <br>
  <h4 style="cursor:grabbing;">➡️OPD Services</h4>
  <p>Patients are registered at the reception and are seen on first come, first serve basis, however out of turn consultation may be provided in case of emergency and senior citizen. Patients have the right to consult any doctor. In OPD, clinical consultation is provided to patients which includes history taking, clinical examination, diagnosis and providing prescription to patients besides advising laboratory tests in some cases. OPD has a waiting hall with chairs, public utilities like drinking water and toilets. Sub waiting areas are available in front of individual consultation rooms. Wheel chairs, trolleys and attendants are there to help very sick patients.</p>

  <h4 style="cursor:grabbing;">➡️IPD DayCare</h4>
  <ul>
    <li style="list-style:disc;">Dressing</li>
    <li style="list-style:disc;">Minor OT</li>
    <li style="list-style:disc;">First-Aid</li>
    <li style="list-style:disc;">Ventilation</li>
  </ul>
  <h4 style="cursor:grabbing;">➡️Basic Test</h4>
  <ul>
    <li style="list-style:disc;">CBC</li>
    <li style="list-style:disc;">Blood Group and Sugar Test</li>
    <li style="list-style:disc;">Urine Test</li>
    <li style="list-style:disc;">Dengi-Maleria antigen</li>
    <li style="list-style:disc;">Urine test</li>
  </ul>
  <h4 style="cursor:grabbing;">➡️24*7 Ambulance Service</h4>
  <p>24 hours Basic Life Support Ambulance available. Patients are transported from home (on campus) to hospital and patients referred by emergency duty doctor to empanelled hospital for specialized care.</p>
</div>


<!-- Doctor Details -->

<div class="Movable content-section" id="content2" style="text-align: justify;">
  <div class="row">
    <div class="col">
       <b>Name</b> 
    </div>
    <div class="col">
        <b>Designation</b> 
     </div>
     <div class="col">
        <b>Qualifications</b> 
     </div>
     <div class="col">
        <b>Email</b> 
     </div>
  </div>
  
  <% doctors.forEach(function(doctor) { %>
    <div class="row">
      <div class="col">
         <%= doctor.doctorname %>
      </div>
      <div class="col">
          <%= doctor.designation %>
       </div>
       <div class="col">
          <%= doctor.qualification %>
       </div>
       <div class="col">
          <a href="mailto:<%= doctor.doctoremail %>"><%= doctor.doctoremail %></a>
       </div>
    </div>
  <% }); %>
</div>

<!-- Dispensary Timings -->
<div class="Movable content-section" id="content3" style="text-align: justify;">
  <div id="content-inner-inner" class="content-inner-inner inner">
      <h1 class="title">Timings</h1>
      <table cellspacing="10" cellpadding="10" border="1" style="border-collapse: collapse; width: 100%;">
          <tr>
              <th style="padding: 10px; text-align: center; background-color: #f2f2f2;">Registration/OPD Timings</th>
          </tr>
          <tr>
              <td valign="top" colspan="2">
                  <p align="justify"><b style="color: #007bff;">On Working Days</b></p>
                  <ul>
                      <li><span style="color: #333;">8:00 am to 8:00 pm</span></li>
                  </ul>
                  <p align="justify"><b style="color: #007bff;">On Saturday</b></p>
                  <ul>
                      <li><span style="color: #333;">9:00 am to 4:15 pm (Registration Timings)</span></li>
                      <li><span style="color: #333;">9:00 am to 5:00 pm (OPD Timings)</span></li>
                  </ul>
                  <p align="justify"><b style="color: #007bff;">On Sunday/During Holidays</b></p>
                  <ul>
                      <li><span style="color: #333;">9:00 am to 2:00 pm</span></li>
                  </ul>
              </td>
          </tr>
          <tr>
              <th colspan="2" style="padding: 10px; text-align: center; background-color: #f2f2f2;">Emergency Duty Hours (Doctors)</th>
          </tr>
          <tr>
              <td valign="top" colspan="2">
                  <ul style="margin-top: 10px;">
                      <li style="margin-bottom: 5px;"><span style="color: #333;">Emergency duty hours From 8:00 am to 2:00 pm ( Doctor + Outsourced Doctor)</span></li>
                      <li style="margin-bottom: 5px;"><span style="color: #333;">From 2:00 pm to 8:00 pm ( Doctor on call + Outsourced Doctor physically present)</span></li>
                      <li style="margin-bottom: 5px;"><span style="color: #333;">From 8:00 pm to 8:00 am of the next day ( Doctor on call + Outsourced agency Doctor Physically Present)</span></li>
                  </ul>
              </td>
          </tr>
          <tr>
              <th colspan="2" style="padding: 10px; text-align: center; background-color: #f2f2f2;">Specialist Appointments</th>
          </tr>
          <tr>
              <td valign="top" colspan="2">
                  <ul>
                      <li><b style="color: #007bff;">Evening:</b> <span style="color: #333;">5:30 pm Onwards</span></li>
                  </ul>
              </td>
          </tr>
          <tr>
              <th colspan="2" style="padding: 10px; text-align: center; background-color: #f2f2f2;">Laboratory Tests</th>
          </tr>
          <tr>
              <td valign="top" colspan="2">
                  <p align="justify"><b style="color: #007bff;">In Working Days</b></p>
                  <ul>
                      <li><b style="color: #007bff;">Morning:</b> <span style="color: #333;">8.00 am to 1.00 pm</span></li>
                      <li><b style="color: #007bff;">Afternoon:</b> <span style="color: #333;">2.00 pm to 5.00 pm</span></li>
                      <li><b style="color: #007bff;">Sample Collection:</b>
                          <ul>
                              <li><span style="color: #333;">NABL Accredited Laboratory: 8:00 AM to 7:00 PM</span></li>
                              <li><span style="color: #333;"> Laboratory: 8:00 AM to 11:30 AM</span></li>
                          </ul>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr>
              <th colspan="2" style="padding: 10px; text-align: center; background-color: #f2f2f2;">National Holidays</th>
          </tr>
          <tr>
              <td valign="top" colspan="2">
                  <p align="justify"><span style="color: #333;">Hospital OPD will remain closed on 26th January, 15th August, and on 2nd October</span></p>
              </td>
          </tr>
      </table>
  </div>
</div>


   

<!-- Consultant Info -->
<div class="Movable content-section" id="content5" style="text-align: justify;">
 <h1>Consultant Services</h1>
 <img src="male-doctor-character-illustration-png.webp" alt="" style="width: 40%;">
   <div style="float:right;">
      <p style="font-size: 1.2rem; font-weight: bolder; margin-bottom: 1px;">Dr. Taniya</p>
      <p style="font-size: 0.85rem;">Consultant Psychiartist</p>
      <p style="font-weight: bold">Contact No: +91-XXXXXXXXX</p>
      <p style="font-weight: bold">Timings: 12:00 - 2:00 PM (Wednesday & Saturday)</p>
      <p>Available on call</p>
   </div>
</div>
  
<!-- Camps -->
<div class="Movable content-section" id="content6" style="text-align: justify;">
  <h1>Camps</h1>
  <div id="content-region" class="content-region row nested">
     <div id="content-region-inner" class="content-region-inner inner">
       <a name="main-content-area" id="main-content-area"></a>
         <div id="content-inner" class="content-inner block">
           <div id="content-inner-inner" class="content-inner-inner inner">
               <div id="content-content" class="content-content">
                 <div id="view-id-special_camp-page_1" class="view view-special-camp view-id-special_camp view-display-id-page_1 view-dom-id-1366dd9b3ac277cd6b75f7f97439ba9a  views-processed">
                   <div class="inner content">
                    <div class="view-content">
                      <table class="views-table cols-2">
                        <thead>
                          <tr>
                            <th class="views-field views-field-field-iitd-splcamp-status-value">
                              Camp Organised
                            </th>
                            <th class="views-field views-field-field-iitd-el-ondate-value">
                              On Date
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% camps.forEach(function(camp) { %>
                          <tr>
                            <td class="views-field views-field-field-iitd-splcamp-status-value">
                              <%= camp.campName %>
                            </td>
                            <td class="views-field views-field-field-iitd-el-ondate-value">
                              <span class="date-display-single"><%= camp.campDate.toDateString() %></span>
                            </td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                   </div><!-- /views-inner -->
                 </div>                                                                 
               </div><!-- /content-content -->
           </div><!-- /content-inner-inner -->
         </div><!-- /content-inner -->
     </div><!-- /content-region-inner -->
   </div>
</div>

  <div class="Movable content-section" id="content7" style="text-align: justify;">
    <h1>Campaign Details Upload</h1>
    <form id="camp-form" action="/submitcamp" method="post">
      <label for="campname">Camp Name:</label>
      <input type="text" id="campname" name="campname" required><br><br>
      <label for="campdate">Camp Date:</label>
      <input type="date" id="campdate" name="campdate" required><br><br>
      <button type="submit" >Submit</button>
    </form>  
    </div>
   
<!-- Guideline show -->
    <div class="Movable content-section guidelines-section" id="content8">
      <h2 class="guidelines-header">Guidelines</h2>
      <br>
      <% if (guidelines.length > 0) { %>
        <ul class="guidelines-list">
          <% guidelines.forEach(function(guideline) { %>
            <li>
              <a href="/guidelines/<%= guideline.filename %>" style="color: blue;">🔴 <%= guideline.filename %></a>
            </li>
            
          <% }); %>
        </ul>
      <% } else { %>
        <p>No guidelines available.</p>
      <% } %>
  </div>
   

   <!-- //Prescription -->

   <div class="Movable content-section" id="content9" style="text-align: justify;">
    <h1>Prescription</h1>
    <form class="prescription-form" method="post" action="/prescriptions" onsubmit="preparePrescriptionData()">
      <div class="placeholder-text">Prescription for:</div>
  
      <label for="patientName">Patient Name:</label>
      <input type="text" id="patientName" name="patientName">
  
      <div id="medicationsContainer">
        <!-- Medication entries will be dynamically added here -->
      </div>
  
      <button type="button" onclick="addMedicationEntry()">Add Medication</button>
  
      <div id="labTestsContainer">
        <!-- Lab test entries will be dynamically added here -->
      </div>
  
      <button type="button" onclick="addLabTestEntry()">Add Lab Test</button>
  
      <div class="placeholder-text" id="currentDate">Date: </div>
      <div class="placeholder-text" id="currentTime">Time: </div>
  
      <input type="submit" value="Create Prescription">
    </form>
  
  </div>
    


  <!-- Doctor Availability Form  -->

  <div class="Movable content-section" id="content15" style="text-align: justify;">
    <h2>Doctor Availability Form</h2>
      <form id="availabilityForm" action="/availability" method="post">
       <label for="availability">Enter Availability:</label>
       <input type="text" id="availability" name="availability" placeholder="Enter availability here">
       <br>
       <button type="submit">Submit</button>
      </form>
  </div>


  <!-- File Upload -->
  <div class="Movable content-section" id="content13" style="text-align: justify;">
    <h1>File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
      <br>
      <label for="file">Choose a file:</label>
      <input type="file" name="file" id="file" accept=".pdf" required>
      <br>
      <button type="submit">Upload</button>
    </form>
  </div>


<!-- Guidelines Upload -->
  <div class="Movable content-section" id="content16" style="text-align: justify;">
      <h1>Guidelines Upload</h1>
    <form action="/guidelines-upload" method="post" enctype="multipart/form-data">
     <label for="file">Choose a file:</label>
     <input type="file" name="file" id="file" accept=".pdf" required>
     <br>
     <button type="submit">Upload</button>
    </form>
  </div>


  <!-- ACCOUNT MODAL -->
  <div id="modal-account" class="modal" style=" width: 600px ;height: 220px ; margin-right:440px;">
    <div class="modal-content center-align">
      <h4>Contact us</h4><br />
      <div style="background-color: #f2f2f2; padding: 20px; border-radius: 10px; text-align: center;">
        <p style="color: #666;">Feel free to get in touch with us if you have any questions or inquiries.</p>
        <p style="color: #666;">Email: info@example.com</p>
        <p style="color: #666;">Phone: +1234567890</p>
    </div>
      <div class="account-details"></div>
    </div>
  </div>



 <script>
    function changeContent(contentId) {
        // Hide all content sections
        var contentSections = document.querySelectorAll(".content-section");
        contentSections.forEach(function(section) {
            section.style.display = "none";
        });

        // Show the selected content
        var selectedContent = document.getElementById(contentId);
        if (selectedContent) {
            selectedContent.style.display = "block";
        }
    }

    function updateDateTime() {
      const currentDateElement = document.getElementById('currentDate');
      const currentTimeElement = document.getElementById('currentTime');

      const currentDate = new Date().toLocaleDateString();
      const currentTime = new Date().toLocaleTimeString();

      currentDateElement.textContent = `Date: ${currentDate}`;
      currentTimeElement.textContent = `Time: ${currentTime}`;
    }

    // Call the function to update date and time immediately
    updateDateTime();

    // Call the function to update date and time every second (1000 milliseconds)
    setInterval(updateDateTime, 1000);
  </script>

    </script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../index.js"></script>
  <script>
    let medicationEntryCount = 1;
    let labTestEntryCount = 1;

    function addMedicationEntry() {
      const medicationsContainer = document.getElementById('medicationsContainer');

      const medicationEntry = document.createElement('div');
      medicationEntry.innerHTML = `
        <label for="medication${medicationEntryCount}">Medication ${medicationEntryCount}:</label>
        <div class="medication-details">
          <input type="text" id="medication${medicationEntryCount}" name="medications[${medicationEntryCount - 1}][name]" placeholder="Tablet name">
          <input type="text" id="dosage${medicationEntryCount}" name="medications[${medicationEntryCount - 1}][dosage]" placeholder="Dosage">
          <input type="text" id="frequency${medicationEntryCount}" name="medications[${medicationEntryCount - 1}][frequency]" placeholder="Frequency">
          <button type="button" onclick="removeEntry(this)">Remove Medication</button>
        </div>
      `;

      medicationsContainer.appendChild(medicationEntry);
      medicationEntryCount++;
    }

    function addLabTestEntry() {
      const labTestsContainer = document.getElementById('labTestsContainer');

      const labTestEntry = document.createElement('div');
      labTestEntry.innerHTML = `
        <label for="labTest${labTestEntryCount}">Lab Test ${labTestEntryCount}:</label>
        <input type="text" id="labTest${labTestEntryCount}" name="labTests[${labTestEntryCount - 1}]" placeholder="Lab Test name">
        <button type="button" onclick="removeEntry(this)">Remove Lab Test</button>
      `;

      labTestsContainer.appendChild(labTestEntry);
      labTestEntryCount++;
    }

    function removeEntry(button) {
      const entryDiv = button.parentElement;
      entryDiv.parentElement.removeChild(entryDiv);
    }

  </script>
</body>
</html>